{% extends '::base.html.twig' %}

{% block stylesheets %}
	{% stylesheets 'bundles/supplier/css/*' filter='cssrewrite' %}
	 	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<style>
		.date-range-selected > .ui-state-active,
		.date-range-selected > .ui-state-default {
		   background: none;
		   background-color: #85B5D9;
		}
	</style>
{% endblock %}

{% block body %}
<div class="container">
	<div class="content">

		<div class="salesText">
			<em>Global Sales - <span id="dateGlobal"> {{ 'now'|date('F d')}} </span> - {{ 'now'|date('Y') }}</em>
		</div>

		<div id="datePicker" class="dates">
			<div></div>
			<button type="button" id="reload">Reload</button>
		</div>

		<div class="formSelect">
			{{ form(form) }}
		</div>

		<div class="table">
			<table id="gridTable">
				<div id="pager"></div>
			</table>
		</div>

	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		var path = '{{ path("supplier_productData") }}';
	</script>
	{% javascripts
		'@SupplierBundle/Resources/public/js/jquery-1.9.0.min.js'
		'@SupplierBundle/Resources/public/js/*' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}